// Media-vars
$xxl: 1260px;
$lg: 992px;
$md: 768px;
$sm: 576px;

// Colors

$color-main: #ffffff;
$color-txt: #7c7c7c;
$color-primary: #cf003f;
$color-border: #99dee3;  
$color-tabs: #626262; 

//Fonts
$lato-semibold: 'Lato-SemiBold', sans-serif;
$lato-regular: 'Lato-Regular', sans-serif;
$lato-light: 'Lato-Light', sans-serif;
$lato-bold: 'Lato-Bold', sans-serif;